@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "moneyGraphy";
  src: url("../public/font/Moneygraphy-Rounded.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  width: fit-content;
  height: fit-content;
}

html {
  font-size: 16px;
}

body {
  background-color: #222;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}